.bike-log-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bike-log-text-container {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}